<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

		<div id="formulario">
		<form class="form-horizontal">
 <div class="control-group">
  <div class="controls">
    <%= f.text_field :nome, :placeholder => "Insira seu Nome" %>
  </div>
    </div>
 <div class="control-group">
  <div class="controls">
    <%= f.text_field :email, :placeholder => "Insira seu e-mail" %>
  </div>
    </div>
<div class="control-group">
    <div class="controls">
    <%= f.text_area :receita, :placeholder => "Descreva aqui como seria seu GB perfeito" %>
</div>
    </div>
 <div class="control-group">
    <div class="controls">
    <%= f.submit "Enviar", :class => 'btn btn-large btn-primary' %>
    </div>
  </div>
  </form>
  </div>
<% end %>

