<div id="howto">
<div id="txt">
<h1>Listagem de Receitas</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Email</th>
    <th>Receita</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @recipes.each do |recipe| %>
  <tr>
    <td><%= recipe.nome %></td>
    <td><%= recipe.email %></td>
    <td><%= recipe.receita %></td>
    <td><%= link_to 'Exibir', recipe %></td>
    <td><%= link_to 'Editar', edit_recipe_path(recipe) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Recipe', new_recipe_path %>

</div>
</div>
