<!DOCTYPE html>
<html>
<head>
  <title>Crie o Pr??o GB</title>
  <%= stylesheet_link_tag "custom", :media => "all"  %>
  <%= javascript_include_tag "bootstrap" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-narrow">

      <div class="masthead">
       <div id="logo"></div>
       <%= yield %>
	   
      </div>
      <div class="footer">
        <p>Planejamento, Criação e Execução
       </p>
      <%= link_to image_tag("studioslogo.png", alt: "StudiosMedia"), 'http://#' %> &nbsp; &nbsp; &nbsp; &nbsp;<%= link_to image_tag("sgslogo.png", alt: "StudiosMedia"), 'http://#' %></div>

    </div> <!-- /container -->


</body>
</html>




    